@model EvlampochkaPhotoStudio.Models.Room

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/mysite.css" />
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlide() {
        showSlides(slideIndex += 1);
    }

    function minusSlide() {
        showSlides(slideIndex -= 1);
    }


    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("image");
        var dots = document.getElementsByClassName("slider-dots_item");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>

<div class="row">
    <aside class="col-sm-5 border-right">
        <div class="slider">            
            @foreach (Photo image in ViewBag.Photos)
            {
                <div class="image">
                    <img src="@image.ImageResource" alt="Здесь должно быть изображение">
                </div>
            }
            <a class="prev" onclick="minusSlide()">&#10094;</a>
            <a class="next" onclick="plusSlide()">&#10095;</a>
        </div>

        <div class="slider-dots">
            @foreach (Photo image in ViewBag.Photos)
            {
                <span class="slider-dots_item" onclick="currentSlide(@image.Id)"></span>
            }
        </div>
        <script>
            showSlides(1)
        </script>
       
    </aside>
    <article class="col-md-6">
        <dl class="row">
            <div class="room-name">Зал @Model.Name</div>

            <div class="room-title"><i class="fa fa-paperclip"></i>@Model.Category.Name</div>

            <div class="room-description">@Model.Description</div>
            <div class="room-name">@Model.Price BYN</div>
        </dl>
        <br />
        @if (ViewBag.IsInFavorite && ViewBag.IsUser)
        {
            <div class="form-group">
                <a class="btn btn-outline-secondary" asp-action="AddToFavorite" asp-route-id="@Model.Id"><i class="fa fa-heart"></i>Убрать из Избранного</a>
            </div>
        }
        else
        {
            <div class="form-group">
                <a class="btn btn-outline-danger" asp-action="AddToFavorite" asp-route-id="@Model.Id"><i class="fa fa-heart"></i>Добавить в Избранное</a>
            </div>
        }
        <br />
        @if (ViewBag.IsInBooking && ViewBag.IsUser)
        {
            <div class="form-group">
                <a class="btn btn-outline-secondary" asp-controller="Rooms" asp-action="DeleteBooking" asp-route-id="@Model.Id">Отменить бронь</a>
            </div>
        }
        else
        {
            <div class="form-group">
                <a class="btn btn-outline-danger" asp-controller="Bookings" asp-action="Create" asp-route-room="@Model.Id">Забронировать</a>
            </div>
        }
    </article>
</div>

<div>
    <br />
    <div>
        @await Html.PartialAsync("AddComment", new Comment { RoomId = Model.Id})
    </div>
    <div>
        @await Html.PartialAsync("Comments", Model.Comments)
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a> |
        <a asp-action="Index">Вернуться</a> |
        <a asp-action="Delete" asp-route-id="@Model?.Id">Удалить</a>
    </div>

</div>
