@model IEnumerable<EvlampochkaPhotoStudio.Models.Room>

@{
    ViewData["Title"] = "Избранное";
}

@if (Model.Count() < 1)
{
    <h1>Кажется, тут пусто...</h1>
}
else
{
    <h1>Избранное</h1>

    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Зал
                </th>
                <th>
                    Категория
                </th>
                <th>
                    Цена
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.MainImage" class="img-thumbnail" alt="Image..." style="width: 100px; height:100px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price) BYN
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                        <a asp-action="RemoveFromFavorite" asp-route-id="@item.Id">Убрать из Избранного</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
